/* 
*,
*::before,
*::after {
  box-sizing: border-box;
} 
*/

/* #region reset */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #2e2f42;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* #endregion reset */

/* #region common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-prph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* #endregion common */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.span-studio {
  color: #2e2f42;
}

.header-nav .nav-list .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav .nav-list .nav-link:hover,
.header-nav .nav-list .nav-link:focus,
.header-nav .nav-link.current {
  color: #404bbf;
}

.nav-address {
  margin-left: auto;
  font-style: normal;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion header */

/* #region slogan */

.page-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.section-slogan {
  font-weight: 700;
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.slogan-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #404bbf;
}

/* #endregion slogan */

/* #region benefits */

.section-benefits {
  padding: 120px 0 120px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.benefits-list {
  display: flex;
  align-items: center;
  gap: 24px;
  /* flex-basis: calc((100% - 24px * 3) / 4); */
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 0;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  height: 112px;
}

/* #endregion benefits */

/* #region team */

.section-team {
  padding: 120px 0 120px;
  background-color: #f4f4fd;
}
.list-item.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-info {
  text-align: center;
  padding: 32px 0;
  background-color: #fff;
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.icons-list .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 100%;
  height: 100%; */
}

.icons-list .social-links:hover,
.icons-list .social-links:focus {
  background-color: #404bbf;
}

.icons-list .socials-svg {
  fill: #f4f4fd;
}

/* #endregion team */

/* #region portfolio */

.section-portfolio {
  padding: 120px 0 120px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* .list-item-port {
  flex-basis: calc((100% - 48px) / 3);
} */

.portfolio-name {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-port {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-port:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-item-port:hover .overlay {
  transform: translateY(0);
}

/* #endregion portfolio */

/* #region footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.web-footer {
  color: #f4f4fd;
}

.footer-prph {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.socials-container {
  margin-right: 80px;
  margin-bottom: 32px;
}

.icons-list-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.icons-list-footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icons-list-footer .socials-svg {
  fill: #f4f4fd;
}

.icons-list-footer .social-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list-footer .social-links:hover,
.icons-list-footer .social-links:focus {
  background-color: #31d0aa;
}

.subscription-form {
  display: flex;
  gap: 24px;
}

.subscribe-field {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.subscribe-field::placeholder {
  color: #fff;
}

.btn-send {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

/* #endregion footer */

/* #region backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);

  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal-window {
  transform: translate(-50%, -50%) scale(1.5);
}

.popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  background-color: #404bbf;
  border: none;
}

.btn-close:hover .close-svg {
  fill: #fff;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.label-field + .comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-wrapper {
  position: relative;
}

.input-field {
  border: 1px solid rgb(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-field:focus + .svg-input {
  fill: #4d5ae5;
}

.svg-input {
  position: absolute;
  left: 16px;
  top: 8;
}

.comment {
  resize: none;
  width: 100%;
  min-height: 138px;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.privacy-checkbox {
  margin-bottom: 24px;
}

.form-btn {
  margin: 0 auto 24px;
}

.form-containers {
  margin-bottom: 8px;
}

/* #endregion backdrop */
